<div id="page-header">View Flagged Posts and Tips</div>
<div id="search-wrapper"><div class="search-border-outer"><div class="search-border-inner"><%= form_tag users_path(), :method => :get, :id => "search-form" do %><input type="text" id="search-field" name="search" placeholder="search" value="<%= params[:search] %>"><input type="image" name="z" src="<%= asset_path("magnifying-glass.jpg") %>"><% end %></div></div></div>

