<h1>Programs#index</h1>
<p>Find me in app/views/programs/index.html.erb</p>
<table>
    <% @programs.each_entry do |program| %>    
    <tr>
        <td>
            tests <%= program.name %>
        </td>
    </tr>
    <% end %>
</table>