<div id="page-header">User: <%= @user.name %></div
<div class="admin-buttons">
  <form>
    <h1>Ban Reasons</h1>
  
    <label>
      <input type="checkbox" name="option1">
      Violation of Community guidelines
    </label>
  
    <label>
      <input type="checkbox" name="option2">
      Inappropriate Post
    </label>
  
    <label>
      <input type="checkbox" name="option3">
      Repeated Violations
    </label>
  
    <label>
      <input type="checkbox" name="option4">
      Other:
    </label>
  
    <label for="comment">Comment:</label>
    <textarea id="comment" name="comment", :required></textarea>
  
    
    <%= link_to 'Submit', {:controller => :users, :action => :ban}, class: 'header-button-2' %>
    
    <%= link_to 'Cancel', users_path(), class: 'header-button-2' %>
  </form>
</div>


<style>
    form {
      width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: transparent;
      border-radius: 5px;
    }
    
    h1 {
      margin-top: 40px;
      text-align: center;
    }
    
    label {
      display: block;
      margin-bottom: 10px;
    }
    
    input[type="checkbox"] {
      margin-right: 10px;
    }
    
    textarea {
      width: 100%;
      height: 150px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
    }
</style>