<!--<div onclick="window.location.href = '/p/< %= @program.id %>';">-->
<!--  <div id="page-header" style="background-image: url('< %= @program.banner.attached? ? url_for(@program.banner) : asset_path('header-background.jpg') %>');">-->
<!--    < %= @program.name %>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="flex-header">-->
<!--  <div class="header_column_1_of_1" class="flex-item">-->
<!--    <div class="header-return-link">&#x21D0;< %= link_to 'Return', url_for(:back)%></div>-->
<!--  </div>-->
<!--</div>-->

<!-- Add the following line to display the gallery title -->
<!--<h1>Gallery for < %= @experience.name %></h1>-->
<h1>Image Gallery</h1>
Hello World