<div class="index-background">
    <%= form_tag program_select_path(), :method => :get, :id => "index-background" do %>
     <div id="index-search-box" style="">
         <select id="program_id" name="program_id">
             <option value=0>Where to?</option>
                <% @programs.each do |program| %>
                    <option value="<%= program.id %>"><%= program.name %></option>
                <% end %>
         </select>

         <input style= "display: none" class="hidden-submit" type="submit" value="Submit">
        </div>

    <%end%>
</div>