/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body{
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

.nav{
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
}

#logo-wrapper{
    background: #450000;
    height: 75px;
    position: fixed;
    left: 30px;
    top: -10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

.logo{
    height: 60px;
    padding-top: 9px;
    margin-top: 8px;
}

.flash-notice{
    position: absolute;
    width: 100%;
    color: #0c5460;
    background-color: #d1ecf1;
    line-height: 30px;
    padding: 0 10px 0 350px;
    top: 50px;
    font-weight: bold;
}

.flash-warning {
    position: absolute;
    width: 100%;
    color: white; 
    background-color: red; 
    line-height: 30px;
    padding: 0 10px 0 350px;
    top: 50px;
    font-weight: bold;
}

.flash-alert-wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0.0,0.0,0.0,0.4);
	z-index: 999999;
}
.flash-alert{
	margin: 150px auto 0 auto;
	width: 500px;
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.flash-alert-header{
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}
.flash-alert-message{
    padding: 10px;
}
.flash-alert-button{
    height: 50px;
}
.flash-alert-button input{
    float: right;
    margin: 20px 10px 0 0;
    padding: 0 20px;
}

#page-header{
    color: #fff;
    background: #333;
    background-size: cover;
    background-position-x: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    // border-top: 1px solid #000;
    // border-bottom: 2px solid #000;
    height: 300px;
    padding-top: 125px;
    text-shadow: black 0px 0px 10px;
}

#white-header{
    color: black;
    background: white;
    background-size: cover;
    background-position-x: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    height: 200px;
    padding-top: 100px;
    margin-top: 200px;
}

.edit-user{
    margin-top: -30px;
}

.user-circle {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.profile-circle {
  position: relative;
//   top: 100px;
//   left: 50%;
//   width: 200px;
//   height: 200px;
  margin: 10px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}


#flex-container{
	display: flex;
	max-width: 1250px;
	margin: 20px auto;
	align-items: flex-start;
	flex-direction: row;
}

.flex-header{
	display: flex;
	max-width: 1250px;
	margin: 10px auto -10px auto;
	align-items: flex-start;
	flex-direction: row;
}

.flex-item{
	padding: 10px 20px;
}

#column_1_of_2{
	order: 1;
	flex-grow: 2;
	flex-basis: 300px;
	/*max-width: 260px;
	min-width: 200px;*/
	display: flex;
	flex-direction: column;

}

.stickyboi {
    position: sticky;
    top: 100px;
}

#column_2_of_2{
    top: 100px;
	order: 2;
	flex-grow: 3;
	flex-basis: 600px;
	margin: 0px 25px;
	flex-direction: column;
}

.header_column_1_of_1{
    order: 1;
	flex-grow: 3;
	flex-basis: 600px;
	margin: 0px 25px;
	display: flex;
	flex-direction: column;
}

input[type=submit]{
    margin-top: 20px;
    padding: 5px 30px;
    font: inherit;
    color: #fff;
    background-color: #008;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #002;
    box-shadow: 2px 2px 2px #666;
}

input[type=submit]:hover{
    background-color: #00a;
    box-shadow: 0px 0px 0px #ccc;
}

input[type=submit]:focus{
    outline: 0;
}

.programs-table{
    margin: 0 auto;
}

.programs-table td{
    border: 1px solid #666;
    padding: 1px 10px;
    font-size: 18px;
}

.programs-table tfoot td{
    border: 0px;
}

.programs-edit-table{
    margin: 0 auto;
}

.programs-edit-table td{
    padding: 1px 10px;
    font-size: 18px;
}

.programs-edit-table tfoot td{
    border: 0px;
    padding-top: 8px;
}

/* This is for navigation*/
/**/
/**/

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  /*
  box-shadow:  0px -2px 3px -1px rgba(0, 0, 0, 1);
  */
}

.navigation li {
  float: left;
}

.navigation li:hover {
  /*background: #222;*/
  background-color: white;
  color:#400000;
}

.navigation li:hover a {
    color:#400000;
}

.navigation li:hover ul li a {
    color: #ededed;
}

.navigation li:hover ul li a:hover {
    color: white;
}

.navigation li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  line-height: 50px;
  color: #fff;
  height: 50px;
  
  font-size: 24px;
}

.navigation li a:hover {
    color: #400000;
}

.navigation ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
}

.navigation ul li {
  float: none;
}

.navigation li:hover > ul {
  display: block;
  background: #400000;
  border: solid 3px #fff;
  border-top: 0;
  z-index: 99999;
  
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  
  -webkit-box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.navigation li:hover > ul li:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.navigation li li a:hover {
  background: #000;
}

.navigation ul li:last-child a,
.navigation ul li:last-child a:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.navigation li.navigation-user-icon:hover {
    background-color: transparent;
}

.navigation li.navigation-user-icon:hover .img-circle {
    border: 2px solid white;
}
/*END OF Navigation*/





@media only screen and (max-width: 1000px) {
    #flex-container{
        flex-direction: column;
        align-items: stretch;
    }
    
    .stickyboi {
        position: relative;
        top: 100px;
    }
  
    #column_1_of_2{
        order: 1;
        max-width: none;
        flex-direction: row;
        overflow-x: auto;
        margin: 0px 25px;
        padding-top: 55px;
        border-bottom: 10px solid #eee;
    }
  
    #column_2_of_2{
        order: 2;
        flex-direction: column;
        margin: 0 25px 25px 25px;
        padding-top: 55px;
    }
}