#bookmark-header{
    color: #fff;
    //background: #333;
    background-image: url(asset_path("pana.jpeg"));
    background-size: cover;
    background-position-x: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    // border-top: 1px solid #000;
    // border-bottom: 2px solid #000;
    height: 300px;
    padding-top: 125px;
    text-shadow: black 0px 0px 10px;
}