// Place all the styles related to the Portals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
    text-decoration: none !important;
}

#index-search-box{
    background:#fff;
    border-radius: 32px;
    text-align:center;
    font-size:30px;
    color:#000;
    position:absolute;
    top:50%;
    left:50%;
    width:500px;
    margin-left:-250px;
}

#index-search-box select{
    width:460px;
    border:0px;
    background:#fff;
    appearance:button;
    cursor:pointer;
}

#portal-switch-programs{
    position: fixed;
    top: 0px;
    left: 400px;
    z-index: 9999;
}
#portal-switch-programs select{
    background:#ededed;
    border:0px;
    font-size: 16px;
    width: 250px;
}


#column1{
	order: 1;
	flex-grow: 1;
	max-width: 260px;
	min-width: 200px;
	display: flex;
	flex-direction: column;

}

#column2{
	order: 2;
	flex-grow: 2;
	margin: 0px 25px;
	display: flex;
	flex-direction: column;
}

#column3{
	order: 3;
	flex-grow: 1;
	max-width: 260px;
	min-width: 200px;
	display: flex;
	flex-direction: column;
}

#search-wrapper{
    margin-top: -25px;
    text-align: center;
}
.search-border-outer{
    border: 2px solid #000;
    display: inline-block;
    border-radius: 3px;
}
.search-border-inner{
    display: inline-block;
    border: 5px solid #eee;
    background: #eee;
}
#search-wrapper input[type=text]{
    border: 0px;
    width: 400px;
    font-size: 20px;
    padding: 1px 10px;
    height: 30px;
}
#search-wrapper input[type=image]{
    float: right;
}

.header-button {
    border: 2px solid #900000;
    color: #900000;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 21px;
    transition: all 0.25s ease;
    text-decoration: none;
    cursor: pointer;
}

.header-button:hover {
    background-color: #900000;
    border-radius: 10px;
    color: white;
}

.header-button-text:hover {
    color: white;
}

.portal-column-title{
    font-size: 32px;
    font-weight: 700;
    font-family: Arial;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    margin-top: 25px;
    //border-bottom: 1px solid gray;
}
.portal-column-title-sort{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #999999;
    font-size: 13px;
    font-weight: normal;
    text-align: right;
}

.portal-review{
	border: 1px solid #999;
	width: 100%;
	height: 100px;
	min-width: 250px;
	margin: 5px 0;
}

.portal-experience-outer-wrapper {
    padding: 24px;
    border-radius: 15px;
    background-color: #FFFFFF;
    border: 4px solid rgb(165, 165, 165);
    margin-top: 25px;
}

.portal-tip {
    width: 100%;
    margin: 15px 0;
    min-width: 160px;
    position: relative;
    padding: 0 5px 40px 5px;
    border-left: 3px solid black;
    font-size: 13px;
    line-height: 15px;
}

.portal-experience {
    font-size: 21px;
}

.portal-experience-title {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 2px;
    color: black;
    font-weight: 500;
}

.portal-experience-description {
    font-size: 18px;
    color: black;
}

.portal-experience-tags {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.portal-experience-tag {
    font-size: 12px;
    padding: 2px 12px;
    border: 2px solid #900000; 
    border-radius: 25px;
}

.portal-experience-info {
    margin-bottom: 16px;
}

.portal-experience-info-user {
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.portal-experience-info-date {
    font-size: 13px;
}

.portal-experience-icons {
    display: flex;
    gap: 12px;
}

.portal-experience-icon {
    font-size: 15px;

}

.portal-experience-rating-average {
    font-size: 13px;
}

.portal-experience:hover{
    cursor: pointer;
}

.hidden-submit {
    height:0px;
    width:0px;
    opacity:0;
}

.portal-experience-delete{
    background: #f00;
    margin-top: 5px;
    color: #fff;
    padding: 0 5px;
    box-shadow: 1px 3px 3px #ccc;
    border-radius: 3px;
}

.portal-tip-delete{
    position: absolute;
    top: -7px;
    right: -22px;
    background: #f00;
    color: #fff;
    padding: 0 5px;
    box-shadow: 1px 3px 3px #ccc;
    border-radius: 3px;
}
.portal-experience-delete:hover, .portal-tip-delete:hover{
    cursor: pointer;
}

.portal-experience-comment-delete{
    position: absolute;
    top: 1px;
    right: -14px;
    background: #f00;
    color: #fff;
    padding: 0 5px;
    box-shadow: 1px 3px 3px #ccc;
    border-radius: 3px;
}
.portal-experience-comment-delete:hover{
    cursor: pointer;
}

.portal-experience-info-date-updated{
    padding-left: 15px;
    font-size: 13px;
    color: #bbbbbb;
}
.portal-tip-helpful, .portal-experience-rating{
    position: absolute;
    line-height: 16px;
    bottom: 0;
    right: 0;
    font-size: 11px;
    color: #999;
}

.portal-tip-helpful .tip-helpful-yes, .portal-tip-helpful .tip-helpful-no{
    display: inline-block;
    height: 16px;
    cursor: pointer;
    padding-left: 20px;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #666;
}

.portal-tip-helpful .tip-helpful-yes-nologin, .portal-tip-helpful .tip-helpful-no-nologin{
    display: inline-block;
    height: 16px;
    padding-left: 20px;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #666;
}



.portal-tip-helpful .tip-helpful-yes, .portal-tip-helpful .tip-helpful-yes-nologin{
    background-image: url(asset_path("thumbs_up2.png"));
    background-position-y: 0%;
}
.portal-tip-helpful .tip-helpful-yes:hover{
    background-image: url(asset_path("thumbs_up2.png"));
    background-position-y: 100%;
}
.portal-tip-helpful .tip-helpful-no, .portal-tip-helpful .tip-helpful-no-nologin{
    background-image: url(asset_path("thumbs_down.png"));
    background-position-y: 0%;
}
.portal-tip-helpful .tip-helpful-no:hover{
    background-image: url(asset_path("thumbs_down.png"));
    background-position-y: 100%;
}
.portal-tip-helpful .voted{
    background-position-y: 100%;
}

.portal-tips-none, .portal-experiences-none{
    font-style: italic;
    color: #666666;
    font-size: 12px;
    text-align: center;
}

.portal-experience-location{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    box-shadow: 0 0 10px 0 #eee;
    background: linear-gradient(90deg, rgb(249, 249, 249) 0%, rgb(255, 255, 255) 50%, rgb(249, 249, 249) 100%);
    width: 80%;
    border-radius: 10px;
}

.portal-experience-location .yelp-image img{
    float: none;
    max-width: 120px;
    max-height: 100px;
    border-radius: 8px;
}

.portal-experience-location .yelp-info{
    padding-left: 10px;
}

.portal-experience-location .yelp-info .yelp-info-name{
    font-weight: bold;
}
.portal-experience-location .yelp-info .yelp-info-address{
    font-size: 10px;
    color: #999;
}
.portal-experience-location .yelp-info .yelp-info-rating{
    padding-top: 15px;
    font-size: 11px;
    color: #666;
}
.portal-experience-location .yelp-info .yelp-info-rating img{
    float: none;
    height: 12px;
}

.portal-experience-location .yelp-info .yelp-links{
    padding-top: 15px;
    font-size: 11px;
    font-weight: bold;
}
.portal-experience-location .yelp-info .yelp-links a,
.portal-experience-location .yelp-info .yelp-links a:active,
.portal-experience-location .yelp-info .yelp-links a:visited,
.portal-experience-location .yelp-info .yelp-links a:hover{
    color: #e32311;
    font-size: 11px;
}
.portal-experience-location .yelp-info .yelp-links a:hover{
    text-decoration: underline;
}

.portal-experience-comments{
    padding: 0 16px;
    overflow-y: hidden;
    /*max-height: 100px;*/
    margin-bottom: 10px;
}

.portal-experience-comment-count{
    font-size: 12px;
    background: #eee;
    font-weight: bold;
    cursor: pointer;
}
.portal-experience-comment-count-single{
    font-size: 12px;
    background: #eee;
    font-weight: bold;
}
.portal-experience-comment-count .down-arrow{
    float: right;
    padding-right: 10px;
}
.portal-experience-comment-count .down-arrow i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.portal-experience-comment-count .up-arrow{
    float: right;
    padding-right: 10px;
}
.portal-experience-comment-count .up-arrow i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.portal-experience-comment-more{
    background: #f4f4f4;
    text-align: center;
}
.portal-experience-comment-more a{
    padding: 0 calc(50% - 100px);
}

.portal-experience-leave-comment{
    position: relative;
}

.portal-experience-leave-comment.active{
    padding-bottom: 22px;
    animation-name: add_comment_wrapper_focus;
    animation-duration: 0.5s;
}
@keyframes add_comment_wrapper_focus {
  0% { padding-bottom: 0px;  }
  100% { padding-bottom: 22px; }
}
.portal-experience-leave-comment.inactive{
    padding-bottom: 0px;
    animation-name: add_comment_wrapper_blur;
    animation-duration: 1s;
}
@keyframes add_comment_wrapper_blur {
  0% { padding-bottom: 22px;  }
  30% { padding-bottom: 22px;  }
  100% { padding-bottom: 0px; }
}

.portal-experience-leave-comment textarea{
    border: 0;
    border-bottom: 1px solid #999;
    font-size: 12px;
    width: 100%;
    resize: none;
    height: 1.5em;
}

.portal-experience-leave-comment.active textarea{
    height: 5em;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    animation-name: add_comment_textarea_focus;
    animation-duration: 0.5s;
}
@keyframes add_comment_textarea_focus {
  0% { height: 1.5em; }
  100% { height: 5em; }
}
.portal-experience-leave-comment.inactive textarea{
    height: 1.5em;
    animation-name: add_comment_textarea_blur;
    animation-duration: 1s;
}
@keyframes add_comment_textarea_blur {
  0% { height: 5em; }
  50% { height: 5em; }
  100% { height: 1.5em; }
}

.portal-experience-leave-comment input.submit_add_comment[type=submit]{
    color: #000;
    border: 1px solid #666;
    background: #eee;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: none;
    padding: 0 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
}
.portal-experience-leave-comment.active input.submit_add_comment[type=submit]{
    opacity: 1;
    z-index: 1;
    animation-name: add_comment_input_focus;
    animation-duration: 1s;
}
@keyframes add_comment_input_focus {
  0% { opacity: 0; }
  50%{ opacity: 0; }
  100% { opacity: 1; }
}
.portal-experience-leave-comment.inactive input.submit_add_comment[type=submit]{
    opacity: 0;
    z-index: -1;
    animation-name: add_comment_input_blur;
    animation-duration: 0.5s;
}
@keyframes add_comment_input_blur {
  0% { opacity: 1; z-index: 1; }
  100% { opacity: 0; z-index: -1; }
}

.portal-experience-leave-comment .comment_rating_wrapper{
    position: absolute;
    bottom: -4px;
    left: 0;
    opacity: 0;
    z-index: -1;
}
.portal-experience-leave-comment.active .comment_rating_wrapper{
    opacity: 1;
    z-index: 1;
    animation-name: add_comment_rating_focus;
    animation-duration: 1s;
}
@keyframes add_comment_rating_focus {
  0% { opacity: 0; }
  50%{ opacity: 0; }
  100% { opacity: 1; }
}

.portal-experience-leave-comment .comment_rating_wrapper .comment_label{
    float: left;
    font-size: 12px;
}
.portal-experience-leave-comment .comment_rating_wrapper .rating{
    float: right;
    border: 0;
    font-size: 10px;
    padding: 0;
    margin-left: 5px;
}

.portal-experience-comments-list{
    background: #fcfcfc;
    display: none;
}
.portal-experience-comments-list-single{
    background: #fcfcfc;
}

.portal-experience-comment{
    border-left: 3px solid #999;
    border-bottom: 1px solid #ddd;
    padding: 0 5px 30px 5px;
    margin: 5px 0 10px 0;
    font-size: 12px;
    position: relative;
}

.portal-experience-comment .comment-author{
    position: absolute;
    bottom: 0;
    left: 5px;
    font-size: 9px;
    color: #888888;
}
.portal-experience-comment .comment-rating{
    position: absolute;
    bottom: 0;
    right: 5px;
}

.new-comment{
    background: #ffffff;
    animation-name: new_comment_background_highlight;
    animation-duration: 2s;
}
@keyframes new_comment_background_highlight {
  0% { background: #ffff9b; }
  50% { background: #ffff9b; }
  100% { background: #ffffff; }
}

.experience-div{
    background: #ededed;
    width: calc(100% + 42px);
    //border-bottom: 1px solid #ccc;
    //border-top: 2px solid #900000;
}


.arrow-box {
	position: fixed;
	top: 55px;
	right: 40px;
	width: 180px;
	background: #fff;
	z-index: 9999;
	opacity: 0.0;
	box-shadow: 4px 4px 3px #666;
	padding: 5px 10px;
	font-weight: bold;
    animation-name: login_reminder_dialog;
    animation-duration: 20s;
}
@keyframes login_reminder_dialog {
  0% { opacity: 1.0; }
  90% { opacity: 1.0; }
  100% { opacity: 0.0; }
}
.arrow-box:after, .arrow-box:before {
	bottom: 100%;
	left: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow-box:before {
	border-color: rgba(194, 225, 245, 0);
}


@media only screen and (max-width: 1000px) {
    #flex-container{
        flex-direction: column;
        align-items: stretch;
    }
  
    #column1{
        order: 3;
        max-width: none;
        flex-direction: row;
        overflow-x: auto;
        margin: 0px 25px;
        padding-top: 55px;
    }
  
    #column2{
        order: 1;
        flex-direction: row;
        overflow-x: auto;
        margin: 0 25px 25px 25px;
        padding-top: 55px;
    }
  
    #column3{
        order: 2;
        max-width: none;
        flex-direction: row;
        overflow-x: auto;
        margin: 0px 25px 25px 25px;
        padding-top: 40px;
    }
  
    .portal-column-title{
        position: absolute;
        top: 0;
        margin-top: 0;
        width: calc(100% - 20px);
    }
    .portal-column-title-sort{
        text-align: left;
        border: 0;
        right: 30px;
        width: auto;
        color: #000;
    }
    .portal-column-title a{
        position: absolute;
        right: 10px;
        bottom: -10px;
    }
  
    .portal-review{
        margin: 0 5px;
        max-width: 300px;
    }
  
    .portal-tip{
        margin: 0 5px;
        max-width: 220px;
        height: 100%;
    }
  
    .portal-experience{
        margin: 0 5px;
    }
}