// Place all the styles related to the Portals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index-search-box{
    background:#fff;
    border-radius: 32px;
    text-align:center;
    font-size:30px;
    color:#000;
    position:absolute;
    top:50%;
    left:50%;
    width:500px;
    margin-left:-250px;
}

#index-search-box select{
    width:460px;
    border:0px;
    background:#fff;
    appearance:button;
    cursor:pointer;
}

#portal-switch-programs{
    position: fixed;
    top: 10px;
    left: 350px;
    z-index: 9999;
}
#portal-switch-programs select{
    background:#ededed;
    border:0px;
    font-size: 16px;
    width: 250px;
}


#column1{
	order: 1;
	flex-grow: 1;
	max-width: 260px;
	min-width: 200px;
	display: flex;
	flex-direction: column;

}

#column2{
	order: 2;
	flex-grow: 2;
	margin: 0px 25px;
	display: flex;
	flex-direction: column;
}

#column3{
	order: 3;
	flex-grow: 1;
	max-width: 260px;
	min-width: 200px;
	display: flex;
	flex-direction: column;
}

.portal-column-title{
    font-size: 22px;
    font-weight: 700;
    font-family: Arial;
    justify-content: space-between;
    display: flex;
    min-width: 200px;
    padding: 5px 5px;
    margin: 15px 0;
    background: linear-gradient(90deg, rgb(51, 51, 51) 0%, rgb(204, 204, 204) 40%, rgb(255, 255, 255) 80%, rgb(255, 255, 255) 100%);
    color: #fff;
}
.portal-column-title-sort{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #999999;
    font-size: 13px;
    font-weight: normal;
    text-align: right;
}

.portal-review{
	border: 1px solid #999;
	width: 100%;
	height: 100px;
	min-width: 250px;
	margin: 5px 0;
}

.portal-tip, .portal-experience{
    width: 100%;
    margin: 15px 0;
    min-width: 160px;
    position: relative;
    padding: 0 5px 40px 5px;
    border-left: 3px solid black;
    font-size: 13px;
    line-height: 15px;
}
.portal-experience{
    margin: 5px 0;
}

.portal-experience-tags{
    position: absolute;
    bottom: 17px;
}
.portal-experience-tags div{
    display: inline-block;
    background: #eee;
    color: #333;
    border-radius: 7px;
    font-size: 11px;
    padding: 0 7px;
    margin-right: 8px;
    box-shadow: 1px 0.5px 1px #999;
}
.portal-experience-tags div:hover{
    cursor: pointer;
}


.portal-tip-info, .portal-experience-info{
    position: absolute;
    bottom: 0;
    left: 5px;
    font-size: 9px;
    color: #999999;
}
.portal-tip-helpful, .portal-experience-rating{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    line-height: 16px;
}
.portal-tip-helpful .tip-helpful-yes, .portal-tip-helpful .tip-helpful-no{
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.portal-tip-helpful .tip-helpful-yes{
    background-image: url(asset_path("thumbs_up.png"));
    background-position-y: 0%;
}
.portal-tip-helpful .tip-helpful-yes:hover{
    background-image: url(asset_path("thumbs_up.png"));
    background-position-y: 100%;
}
.portal-tip-helpful .tip-helpful-no{
    background-image: url(asset_path("thumbs_down.png"));
    background-position-y: 0%;
}
.portal-tip-helpful .tip-helpful-no:hover{
    background-image: url(asset_path("thumbs_down.png"));
    background-position-y: 100%;
}
.portal-tip-helpful .voted{
    background-position-y: 100%;
}



.portal-tips-none, .portal-experiences-none{
    font-style: italic;
    color: #666666;
    font-size: 12px;
    text-align: center;
}

.portal-experience-location{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    box-shadow: 0 0 10px 0 #eee;
    background: linear-gradient(90deg, rgb(249, 249, 249) 0%, rgb(255, 255, 255) 50%, rgb(249, 249, 249) 100%);
    width: 80%;
    border-radius: 10px;
}

.portal-experience-location .yelp-image img{
    float: none;
    max-width: 120px;
    max-height: 100px;
    border-radius: 8px;
}

.portal-experience-location .yelp-info{
    padding-left: 10px;
}

.portal-experience-location .yelp-info .yelp-info-name{
    font-weight: bold;
}
.portal-experience-location .yelp-info .yelp-info-address{
    font-size: 10px;
    color: #999;
}
.portal-experience-location .yelp-info .yelp-info-rating{
    padding-top: 15px;
    font-size: 11px;
    color: #666;
}
.portal-experience-location .yelp-info .yelp-info-rating img{
    float: none;
    height: 12px;
}

.portal-experience-location .yelp-info .yelp-links{
    padding-top: 15px;
    font-size: 11px;
    font-weight: bold;
}
.portal-experience-location .yelp-info .yelp-links a,
.portal-experience-location .yelp-info .yelp-links a:active,
.portal-experience-location .yelp-info .yelp-links a:visited,
.portal-experience-location .yelp-info .yelp-links a:hover{
    color: #e32311;
    font-size: 11px;
}
.portal-experience-location .yelp-info .yelp-links a:hover{
    text-decoration: underline;
}

.portal-experience-comments{
    padding: 0 16px;
    overflow-y: hidden;
    /*max-height: 100px;*/
    margin-bottom: 10px;
}

.portal-experience-comment-count{
    font-size: 12px;
    background: #eee;
    font-weight: bold;
    cursor: pointer;
}
.portal-experience-comment-count .down-arrow{
    float: right;
    padding-right: 10px;
}
.portal-experience-comment-count .down-arrow i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.portal-experience-comment-count .up-arrow{
    float: right;
    padding-right: 10px;
}
.portal-experience-comment-count .up-arrow i{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.portal-experience-leave-comment{
    position: relative;
}

.portal-experience-leave-comment.active{
    padding-bottom: 22px;
    animation-name: add_comment_wrapper_focus;
    animation-duration: 0.5s;
}
@keyframes add_comment_wrapper_focus {
  0% { padding-bottom: 0px;  }
  100% { padding-bottom: 22px; }
}
.portal-experience-leave-comment.inactive{
    padding-bottom: 0px;
    animation-name: add_comment_wrapper_blur;
    animation-duration: 1s;
}
@keyframes add_comment_wrapper_blur {
  0% { padding-bottom: 22px;  }
  30% { padding-bottom: 22px;  }
  100% { padding-bottom: 0px; }
}

.portal-experience-leave-comment textarea{
    border: 0;
    border-bottom: 1px solid #999;
    font-size: 12px;
    width: 100%;
    resize: none;
    height: 1.5em;
}

.portal-experience-leave-comment.active textarea{
    height: 5em;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    animation-name: add_comment_textarea_focus;
    animation-duration: 0.5s;
}
@keyframes add_comment_textarea_focus {
  0% { height: 1.5em; }
  100% { height: 5em; }
}
.portal-experience-leave-comment.inactive textarea{
    height: 1.5em;
    animation-name: add_comment_textarea_blur;
    animation-duration: 1s;
}
@keyframes add_comment_textarea_blur {
  0% { height: 5em; }
  50% { height: 5em; }
  100% { height: 1.5em; }
}

.portal-experience-leave-comment input[type=submit]{
    border: 1px solid #666;
    background: #eee;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
}
.portal-experience-leave-comment.active input[type=submit]{
    opacity: 1;
    z-index: 1;
    animation-name: add_comment_input_focus;
    animation-duration: 1s;
}
@keyframes add_comment_input_focus {
  0% { opacity: 0; }
  50%{ opacity: 0; }
  100% { opacity: 1; }
}
.portal-experience-leave-comment.inactive input[type=submit]{
    opacity: 0;
    z-index: -1;
    animation-name: add_comment_input_blur;
    animation-duration: 0.5s;
}
@keyframes add_comment_input_blur {
  0% { opacity: 1; z-index: 1; }
  100% { opacity: 0; z-index: -1; }
}

.portal-experience-leave-comment .comment_rating_wrapper{
    position: absolute;
    bottom: -4px;
    left: 0;
    opacity: 0;
    z-index: -1;
}
.portal-experience-leave-comment.active .comment_rating_wrapper{
    opacity: 1;
    z-index: 1;
    animation-name: add_comment_rating_focus;
    animation-duration: 1s;
}
@keyframes add_comment_rating_focus {
  0% { opacity: 0; }
  50%{ opacity: 0; }
  100% { opacity: 1; }
}

.portal-experience-leave-comment .comment_rating_wrapper .comment_label{
    float: left;
    font-size: 12px;
}
.portal-experience-leave-comment .comment_rating_wrapper .rating{
    float: right;
    border: 0;
    font-size: 10px;
    padding: 0;
    margin-left: 5px;
}

.portal-experience-comments-list{
    background: #fcfcfc;
    display: none;
}

.portal-experience-comment{
    border-left: 3px solid #999;
    border-bottom: 1px solid #ddd;
    padding: 0 5px 30px 5px;
    margin: 5px 0 10px 0;
    font-size: 12px;
    position: relative;
}

.portal-experience-comment .comment-author{
    position: absolute;
    bottom: 0;
    left: 5px;
    font-size: 9px;
    color: #888888;
}
.portal-experience-comment .comment-rating{
    position: absolute;
    bottom: 0;
    right: 5px;
}

.new-comment{
    background: #ffffff;
    animation-name: new_comment_background_highlight;
    animation-duration: 2s;
}
@keyframes new_comment_background_highlight {
  0% { background: #ffff9b; }
  50% { background: #ffff9b; }
  100% { background: #ffffff; }
}

.experience-div{
    background: #ededed;
    height: 8px;
    width: calc(100% + 42px);
    margin-left: -21px;
    border-bottom: 1px solid #ccc;
    border-top: 2px solid #900000;
    margin-bottom: 10px;
}


@media only screen and (max-width: 1000px) {
    #flex-container{
        flex-direction: column;
        align-items: stretch;
    }
  
    #column1{
        order: 3;
        max-width: none;
        flex-direction: row;
        overflow-x: auto;
        margin: 0px 25px;
        padding-top: 55px;
    }
  
    #column2{
        order: 1;
        flex-direction: row;
        overflow-x: auto;
        margin: 0 25px 25px 25px;
        padding-top: 55px;
    }
  
    #column3{
        order: 2;
        max-width: none;
        flex-direction: row;
        overflow-x: auto;
        margin: 0px 25px 25px 25px;
        padding-top: 40px;
    }
  
    .portal-column-title{
        position: absolute;
        top: 0;
        margin-top: 0;
        width: 100%;
    }
    .portal-column-title-sort{
        text-align: left;
        border: 0;
        right: 30px;
        width: auto;
        color: #000;
    }
  
    .portal-review{
        margin: 0 5px;
        max-width: 300px;
    }
  
    .portal-tip{
        margin: 0 5px;
        max-width: 220px;
        height: 100%;
    }
  
    .portal-experience{
        margin: 0 5px;
    }
}