// Place all the styles related to the Programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.programs-list, .programs-legend, .program-admin{
    width:100%;
    border-collapse: collapse;
}

.programs-list td, .programs-legend td, .program-admin td{
    border: 1px solid #ededed;
}

.programs-list tr.disabled td, .programs-legend td.disabled{
    background: #ffbfbf;
    min-width: 15px;
}

.programs-list thead td, .programs-legend thead td, .programs-admin thead td{
    font-weight: bold;
    background: #eee;
    padding: 2px 4px;
}

#programs-add-new{
    text-align: center;
}

#programs-add-new a{
    font-weight: bold;
    line-height: 30px;
}

#programs-show-disabled{
    padding-top: 10px;
    width:100%;
}

.programs-hide-disabled-column{
    display: none;
}

.programs-disabled-column{
    width: 1px;
    text-align: center;
    font-weight: bold;
}


.program-edit-table{
    margin: 0 auto;
}

.program-edit-table td{
    padding: 5px;
    font-size: 16px;
}

.program-edit-label{
    font-weight: bold;
    text-align: right;
}

.program-edit-submit{
    text-align: center;
}

.flagged-list {
  width: 100%;
  border-collapse: collapse;
}

.flagged-list th,
.flagged-list td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.flagged-list th {
  font-weight: bold;
}

.flagged-list tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.flagged-list tbody tr:hover {
  background-color: #f5f5f5;
}

.num-flags {
  text-align: center;
}

.num-flags span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.num-flags .flag-count {
  font-size: 24px;
  color: #f00;
}

#flagged-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
  padding: 20px;
}

.delete-button input[type=submit] {
  background-color: #500000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover input[type=submit] {
  background-color: #800000;
}



