// Place all the styles related to the Tips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tip-edit-table{
    width: 100%;
}

.tip-edit-table td{
    vertical-align: top;
}

.tip-edit-label{
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    width: 400px;
}
.tip-edit-label div{
    margin-top: -3px;
    font-weight: normal;
    font-size: 12px;
    color: #999;
}

.tip-edit-table textarea{
    width: 600px;
    height: 150px;
}

.tip-edit-submit{
    text-align: center;
    padding: 20px 0 10px 0;
}

.actual-tip {
    font-size: 18px;
}