// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.users-list, .users-legend, .user-admin{
    width:100%;
    border-collapse: collapse;
}

.users-list td, .users-legend td, .user-admin td{
    // border: 1px solid #ededed;
    padding: 5px;
    border: 1px solid #ddd;
    text-align: left;
}

.users-list tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.users-list tbody tr:hover {
  background-color: #f5f5f5;
}

.users-list tr.admin td, .users-legend td.admin{
    background: #d4e6ff;
    min-width: 15px;
}

.users-list tr.banned td, .users-legend td.banned{
    background: #ffbfbf;
    min-width: 15px;
}

.users-list thead td, .users-legend thead td, .user-admin thead td{
    font-weight: bold;
    background: #eee;
    padding: 2px 4px;
}

.users-list tr.filters td{
    border: none;
}

.users-list th {
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

#users-filter-programs{
    width:100%;
    border-radius:8px;
}

#users-show-banned{
    padding-top: 10px;
    width:100%;
}

.users-hide-banned-column{
    display: none;
}

.users-admin-column, .users-banned-column{
    width: 1px;
    text-align: center;
    font-weight: bold;
}

.users-list td:last-child {
  width: 100px;
}


.user-edit-table{
    margin: 0 auto;
}

.user-edit-table td{
    padding: 5px;
    font-size: 16px;
}

.user-edit-label{
    font-weight: bold;
    text-align: right;
}

.user-edit-submit{
    text-align: center;
}

.user-edit-submit input{
    margin-top: 20px;
    padding: 5px 30px;
    font: inherit;
    color: inherit;
    background-color: #b3f9ff;
    cursor: pointer;
    border-radius: 20px;
    border: 3px solid #80f5ff;
}

.user-edit-submit input:hover{
    background-color: #80f5ff;
}

.user-edit-submit input:focus{
    outline: 0;
}

.admin-buttons form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: transparent;
    border-radius: 5px;
}

.admin-buttons h1 {
    margin-top: 40px;
    text-align: center;
}

.admin-buttons label {
    display: block;
    margin-bottom: 10px;
}

.admin-buttons input[type="checkbox"] {
    margin-right: 10px;
}

.admin-buttons textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}